.panel_detail {
	height: auto;
	width: 1200px;
	margin: 0 auto;
}

.panel_content {
	padding: 10px;
	width: 800px;
	margin: auto;
	height: auto;
}

.goBack {
	margin-bottom: 10px;
}

.submitPost {
	display: block;
	width: 96px;
	height: 36px;
	background-color: #32a5e7;
	border: 1px solid #32a5e7;
	border-radius: 2px 2px 2px 2px;
	color: #FFF;
	float: left;
	margin: 10px 0;
}