.panel_detail {
	height: auto;
	width: 1200px;
	margin: 0 auto;
}

.panel_left {
	width: 68%;
	display: inline-block;
	margin: 10px 0;
}

.panel_left_main, .panel_left_addComment, .panel_left_comment {
	padding: 10px;
	margin-bottom: 10px;
	background-color: #FEFEFE;
}

.name, .submitTime, .commentCount {
	display: inline-block;
	margin: 5px;
}

.panel_left_main .subject {
	display: block;
	height: 38px;
	line-height: 38px;
	color: #222222;
	font-size: 24px;
}

.panel_left_main .name {
	color: #32A5E7;
	font-weight: bold;
}

.panel_left_main .submitTime {
	
}

.panel_left_main .commentCount {
	background: url("../img/main_icon.png") no-repeat scroll -91px -602px
		transparent;
	color: #999999;
	text-indent: 1.5em;
	top: 3px;
	position: relative;
}

.panel_left_main .commentCount label {
	position: relative;
	top: -2px;
}

.panel_left_main .content {
	font-size: 16px;
	line-height: 32px;
	text-indent: 2em;
}

.panel_left_main .delBtn {
	float: right;
}

.panel_left_comment>div {
	padding: 18px 0px;
	border-bottom: 1px solid #e6e6e6;
}

.commentName, .commentSubmitTime, .commentFloor {
	display: inline-block;
	margin: 10px;
}

.panel_left_comment .commentName {
	color: #32A5E7;
	font-weight: bold;
}

.panel_left_comment .commentSubmitTime {
	
}

.panel_left_comment .commentFloor {
	float: right;
}

.panel_left_comment .commentSummary {
	width: 50%;
	height: 50px;
	line-height: 50px;
	background-color: #FFFFE0;
	border-radius: 25px;
	padding: 10px;
	text-align: center;
	overflow: hidden;
}

.panel_left_comment .commentContent {
	font-size: 16px;
	line-height: 32px;
	text-indent: 2em;
}

.panel_left_addComment {
	
}

.submitComment {
	display: block;
	width: 96px;
	height: 36px;
	background-color: #32a5e7;
	border: 1px solid #32a5e7;
	border-radius: 2px 2px 2px 2px;
	color: #FFF;
	float: right;
	margin: 10px 0;
}

.panel_right {
	width: 28%;
	display: inline-block;
	height: auto;
	float: right;
	margin: 10px 0;
	background-color: #FEFEFE;
}

.panel_right>div {
	display: block;
	width: 80%;
	margin: 20px auto;
	text-align: center;
	width: 80%;
}

.panel_right_user_title {
	color: #333 !important;
	font-size: 16px;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	font-weight: bold;
	float: left;
}

.panel_right_user_name {
	color: #32A5E7;
}

.panel_right_user_content {
	margin: 0;
	padding: 0;
	outline: none;
	clear: both;
}

.panel_right_user_content ul li:first-child {
	border-top: 1px solid #dddddd;
}

.panel_right_user_content ul li {
	float: left;
	width: 80%;
	margin: 0 !important;
	padding: 10px 0 !important;
	border-bottom: 1px solid #dddddd;
	text-align: center;
	font-size: 14px;
	color: #333333;
	list-style: none;
}

.panel_right_user_content ul li a:link {
	color: #222222 !important;
}

.panel_right_user_content ul li a:visited {
	color: #222222 !important;
}

.panel_right_user_content ul li a:hover {
	color: #4ebaf2 !important;
}

.panel_right_ad {
	clear: both;
	padding: 30px 0;
}

.panel_right_ad img {
	width: 100%;
	height: auto;
}