body{
	width:100%;
}
.back{
	width:70%;
	margin:auto;
}
.panel{
	border:1px solid red;
	width:70%;
	margin:auto;
	padding:10px;
}
.panel .list,.panel .setting{
	border:1px solid red;
	display:inline-block;
	height:auto;
	padding:10px;
}
.panel .list{
	width:30%;
	margin-right:10px;
}
.panel .setting{
	width:65%; 
}
.panel .setting div{
	display:inline-block;
	padding:10px;
}