.panel_detail {
	height: auto;
	width: 1200px;
	margin: 0 auto;
}

.panel_left {
	width: 70%;
	display: inline-block;
}

.panel_left_banner {
	background-color: #FEFEFE;
	margin: 10px 0;
	text-align: center;
	width: 100%;
	position: relative;
	height: 300px;
	overflow: hidden;
}

.panel_left_banner_box {
	width: 840px;
	margin: 0 auto;
	overflow: hidden;
	_height: 300px;
}

.picbox {
	width: 840px;
	height: 300px;
	overflow: hidden;
	position: relative;
}

.picbox ul, .pickbox li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.piclist {
	height: 300px;
	position: absolute;
	left: 0px;
	top: 0px
}

.piclist li {
	background: #eee;
	float: left;
}

.swaplist {
	position: absolute;
	left: -3000px;
	top: 0px;
}

.og_prev, .og_next {
	width: 52px;
	height: 52px;
	background: url(../img/btn.png) no-repeat;
	background: url(../img/btn.png) no-repeat\9;
	position: absolute;
	top: 120px;
	z-index: 99;
	cursor: pointer;
	filter: alpha(opacity = 70);
	opacity: 0.7;
}

.og_prev {
	background: url(../img/btn.png) left bottom no-repeat;
	left: 0px;
}

.og_next {
	background: url(../img/btn.png) right bottom no-repeat;
	right: 0px;
}

.og_prev:hover {
	background-position: left top;
	left: 0px;
}

.og_next:hover {
	background-position: right top;
	right: 0px;
}

/*��������ʼ*/
.panel_left_list {
	width: 100%;
	height: auto;
}

.panel_left_list .postDetail {
	height: 250px;
	margin-bottom: 10px;
	background-color: #FEFEFE;
}

.panel_left_list .postDetail .dLeft {
	float: left;
	display: block;
	height: 250px;
	line-height: 250px;
}

.panel_left_list .postDetail .dLeft img {
	width: 300px;
	height: 200px;
	vertical-align: middle;
	margin: 5px;
}

.panel_left_list .postDetail .dRight {
	float: left;
	padding: 25px 19px;
	width: 480px;
	display: block;
	height: 200px;
}

.postTitle {
	color: #333333;
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
}

.postTime, .postNickName {
	font-size: 14px;
	line-height: 16px;
	height: 16px;
	color: #9b9b9b;
}

.postNickName {
	display: inline-block;
}

.postCommentCount {
	background: url("../img/main_icon.png") no-repeat scroll -150px -630px
		transparent;
	display: inline-block;
	height: 16px;
	margin: 2px 16px 0 20px;
	width: 19px;
	padding: 0 25px;
	top: 3px;
	position: relative;
}

.postCommentCount label {
	position: relative;
	top: -2px;
}

.postContent {
	padding: 0;
	line-height: 24px;
	text-align: justify;
	text-indent: 2em;
}

/*�����������*/
.panel_right {
	width: 28%;
	display: inline-block;
	height: auto;
	float: right;
	margin: 10px 0;
	background-color: #FEFEFE;
}

.panel_right>div {
	display: block;
	width: 80%;
	margin: 20px auto;
	text-align: center;
	width: 80%;
}

.panel_right_sign {
	height: 62px;
	line-height: 52px;
	font-size: 16px;
	border: 1px solid #53D769;
	border-radius: 2px 2px 2px 2px;
	background-color: #43b56b;
	color: #FFFFFF;
	overflow: hidden;
	cursor: pointer;
}

.panel_right_sign_week {
	display: inline-block;
	width: 92px;
	min-width: 92px;
	height: 50px;
	margin: 5px 5px 0 22px;
	background: url("../img/main_icon.png") no-repeat scroll -115px -221px;
	color: #000000;
	font-size: 18px;
	_margin: 5px 5px 0 10px;
	float: left;
	height: 50px;
}

.panel_right_sign_signIn {
	float: left;
	font-size: 24px;
	margin: 5px 0 0 35px;
	width: 92px;
	min-width: 92px;
	text-align: center;
	color: #ffffff;
}

.cr {
	display: block;
	float: none;
	font-size: 0;
	height: 0;
	line-height: 0;
	overflow: hidden;
	clear: both;
	visibility: hidden;
}

.panel_right_module_title {
	color: #333 !important;
	font-size: 16px;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	font-weight: bold;
	float: left;
}

.panel_right_module_content {
	margin: 0;
	padding: 0;
	outline: none;
	clear: both;
}

.panel_right_module_content ul li:first-child {
	border-top: 1px solid #dddddd;
}

.panel_right_module_content ul li {
	float: left;
	width: 80%;
	margin: 0 !important;
	padding: 10px 0 !important;
	border-bottom: 1px solid #dddddd;
	text-align: center;
	font-size: 14px;
	color: #333333;
	list-style: none;
}

.panel_right_module_content ul li a:link {
	color: #222222 !important;
}

.panel_right_module_content ul li a:visited {
	color: #222222 !important;
}

.panel_right_module_content ul li a:hover {
	color: #4ebaf2 !important;
}

.panel_right_ad {
	clear: both;
	padding: 30px 0;
}

.panel_right_ad img {
	width: 100%;
	height: auto;
}