.panel_detail {
	height: auto;
	width: 1200px;
	margin: 0 auto;
}

.panel_left {
	width: 68%;
	display: inline-block;
	margin: 10px 0;
	background-color: #FEFEFE;
	padding: 15px;
}

.panel_left_addPost {
	background-color: #32a5e7 !important;
	border: 1px solid #32a5e7 !important;
	width: 96px !important;
	text-align: center;
	height: 36px;
	line-height: 36px;
	float: right;
	margin: 10px 0;
}

.panel_left_addPost a {
	color: #FFFFFF !important;
}

.panel_left_top, .panel_left_common {
	clear: both;
}

.title{
	float:left;
	clear: both;
	font-size:18px;
	width:100%;
	background-color: #f6fafd;
	border: 1px solid #e1eaf1;
	height:36px;
	line-height:36px;
}

.panel_left_top div, .panel_left_common div {
	border-bottom: 1px solid #E6E6E6;
	margin-bottom: 5px;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
}

.operate {
	float: right;
	position:relative;
	top: 20px;
 	right: -60px;
  	border-bottom-style: none !important;
}

.operate a {
	margin-left: 5px;
}

.subject {
	float: left;
}

.name {
	float: right;
}

.hightlight a {
	color: red;
}

/*��ҳ��ʼ*/
.panel_left_page {
	padding: 31px 20px;
	margin: 0px;
	overflow: hidden;
	border: none;
}

.pg {
	line-height: 26px;
	float: left;
}

.prev {
	margin-left: 0px;
}

.next {
	margin-right: 10px;
}

.pg strong, .pg a {
	float: left;
	font-size: 18px;
	display: inline-block;
	height: 34px;
	line-height: 34px;
	margin-left: 10px;
	padding: 0px 12px;
	color: #333333;
	overflow: hidden;
	text-decoration: none;
	background-color: #F3F3F3;
	border: 1px solid #F0F0F0;
	border-radius: 18px 18px 18px 18px;
}

.pg strong {
	color: #FFFFFF;
	background-color: #32a5e7;
	border: 1px solid #32a5e7;
}

.previcon {
	display: inline-block;
	width: 10px;
	height: 17px;
	background: url(../img/main_icon.png) no-repeat -124px -568px;
	margin: 9px 0px 0px 0px;
}

.nxticon {
	display: inline-block;
	width: 10px;
	height: 17px;
	background: url(../img/main_icon.png) no-repeat -152px -568px;
	margin: 9px 0px 0px 0px;
}
/*��ҳ����*/
.panel_right {
	width: 28%;
	display: inline-block;
	height: auto;
	float: right;
	margin: 10px 0;
	background-color: #FEFEFE;
}

.panel_right>div {
	display: block;
	margin: 20px auto;
	text-align: center;
	width: 80%;
}

.panel_right_sign {
	height: 62px;
	line-height: 52px;
	font-size: 16px;
	border: 1px solid #53D769;
	border-radius: 2px 2px 2px 2px;
	background-color: #43b56b;
	color: #FFFFFF;
	overflow: hidden;
	cursor: pointer;
}

.panel_right_sign_week {
	display: inline-block;
	width: 92px;
	min-width: 92px;
	height: 50px;
	margin: 5px 5px 0 22px;
	background: url("../img/main_icon.png") no-repeat scroll -115px -221px;
	color: #000000;
	font-size: 18px;
	_margin: 5px 5px 0 10px;
	float: left;
	height: 50px;
}

.panel_right_sign_signIn {
	float: left;
	font-size: 24px;
	margin: 5px 0 0 35px;
	width: 92px;
	min-width: 92px;
	text-align: center;
	color: #ffffff;
}

.cr {
	display: block;
	float: none;
	font-size: 0;
	height: 0;
	line-height: 0;
	overflow: hidden;
	clear: both;
	visibility: hidden;
}

.panel_right_module_title {
	color: #333 !important;
	font-size: 16px;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	font-weight: bold;
	float: left;
}

.panel_right_module_content {
	margin: 0;
	padding: 0;
	outline: none;
	clear: both;
}

.panel_right_module_content ul li:first-child {
	border-top: 1px solid #dddddd;
}

.panel_right_module_content ul li {
	float: left;
	width: 80%;
	margin: 0 !important;
	padding: 10px 0 !important;
	border-bottom: 1px solid #dddddd;
	text-align: center;
	font-size: 14px;
	color: #333333;
	list-style: none;
}

.panel_right_module_content ul li a:link {
	color: #222222 !important;
}

.panel_right_module_content ul li a:visited {
	color: #222222 !important;
}

.panel_right_module_content ul li a:hover {
	color: #4ebaf2 !important;
}

.panel_right_ad {
	clear: both;
	padding: 30px 0;
}

.panel_right_ad img {
	width: 100%;
	height: auto;
}