.goBack {
	margin: 0 0 10px 10px;
}

.panel_detail {
	height: auto;
	width: 1200px;
	margin: 0 auto;
}

.panel_detail ul {
	margin: 0;
	padding: 0;
}

.panel_detail ul li {
	display: inline-block;
	width: 150px;
	height: 150px;
	text-align: center;
	background-color: #07BCF7;
	color: #ffffff;
	font-size: 24px;
	line-height: 150px;
	margin: 0 10px;
	border-radius: 50%;
}

.panel_detail ul li:hover {
	cursor: pointer;
}