.panel_detail {
	height: auto;
	width: 1200px;
	margin: 0 auto;
}

.panel_left {
	width: 68%;
	display: inline-block;
	margin: 10px 0;
	background-color: #FEFEFE;
	padding: 15px;
}

.panel_left_top {
	clear: both;
}

.title {
	float: left;
	clear: both;
	font-size: 18px;
	width: 100%;
	background-color: #f6fafd;
	border: 1px solid #e1eaf1;
	height: 36px;
	line-height: 36px;
}

.panel_left_top>div {
	border-bottom: 1px solid #E6E6E6;
	margin-bottom: 5px;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
}

.subject {
	float: left;
}

.parentContentSummary{
	
}

.content{
	
}

.submitTime{
	
}

.panel_left_page {
	padding: 31px 20px;
	margin: 0px;
	overflow: hidden;
	border: none;
}

.pg {
	line-height: 26px;
	float: left;
}

.prev {
	margin-left: 0px;
}

.next {
	margin-right: 10px;
}

.pg strong, .pg a {
	float: left;
	font-size: 18px;
	display: inline-block;
	height: 34px;
	line-height: 34px;
	margin-left: 10px;
	padding: 0px 12px;
	color: #333333;
	overflow: hidden;
	text-decoration: none;
	background-color: #F3F3F3;
	border: 1px solid #F0F0F0;
	border-radius: 18px 18px 18px 18px;
}

.pg strong {
	color: #FFFFFF;
	background-color: #32a5e7;
	border: 1px solid #32a5e7;
}

.previcon {
	display: inline-block;
	width: 10px;
	height: 17px;
	background: url(../img/main_icon.png) no-repeat -124px -568px;
	margin: 9px 0px 0px 0px;
}

.nxticon {
	display: inline-block;
	width: 10px;
	height: 17px;
	background: url(../img/main_icon.png) no-repeat -152px -568px;
	margin: 9px 0px 0px 0px;
}
/*menu*/
.panel_right {
	width: 28%;
	display: inline-block;
	height: auto;
	min-height: 150px;
	float: right;
	margin: 10px 0;
	background-color: #FEFEFE;
	float: right;
}

.panel_right>div {
	display: block;
	margin: 20px auto;
	text-align: center;
	width: 60%;
	padding:10px;
}

.myReply{
	background-color: #32a5e7;
}

.scrolltop {
	position: fixed;
	display: none;
	bottom: 80px;
	background: url("../img/scrolltop.jpg") no-repeat 0 -48px;
	background-color: #ffffff;
	width: 48px;
	height: 48px;
	background: url("../img/scrolltop.jpg") no-repeat 0 -48px;
}

.foot {
	margin: auto;
	width: 1200px;
	bottom: 0;
	height: 130px;
	border-top: solid 1px #d9d9d9;
	color: black;
	text-align: center;
	line-height: 130px;
	clear: both;
	width: 1200px;
}