.panel_login {
	padding: 10px;
	width: 340px;
	margin: auto;
	height: auto;
	min-height: 500px;
}

.panel_login input {
	width: 320px;
	height: 50px;
	line-height: 22px;
	font-size: 16px;
	margin-bottom: 20px;
	border: 1px solid #dadada;
	color: #474747;
	padding: 0px 10px;
}

.panel_login .submit {
	width: 342px;
	font-size: 20px;
	background-color: #32a5e7;
	color: #fff;
	cursor: pointer;
}

.panel_login .submit_disabled {
	width: 342px;
	font-size: 20px;
	background-color: #dadada;
	color: #fff;
	cursor: default;
}